@import "tailwindcss";

*{
    box-sizing: border-box;
}
body{
    background-color: #F8F8F8;
    overflow: hidden;
}
 .custom-scroll::-webkit-scrollbar {
      display: none;
    }
    .custom-scroll {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }