@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";


#root{
    display: flex;
    flex-direction: column;
    gap: 0;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #F8F8F8;
    overflow: hidden;
    font-family: 'Poppins' sans-serif;
}
main{
  max-width: 1500px;
}
.custom-scroll::-webkit-scrollbar {
    display: none;
}
.custom-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.sidebar{
    transition: width 0.2s ease-in-out;
}
.sidebarLink{
  height: 40px;
  overflow: hidden;
}
.sidebar-username{
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 25px;
    transition: opacity 0.2s ease-in-out;
}
.sidebar-text{
    /* display: none; */
    opacity: 0;
    /* width: 0; */
    /* height: max; */
    overflow: hidden;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    transition: opacity 0.2s ease-in-out;
}
.sidebar:hover .sidebar-box .sidebar-username{
    visibility: visible;
    width: auto;
    opacity: 1;
}
.main-menu-box .sidebar-text{
  height: 20px;
  overflow: hidden;
}
.sidebar:hover .sidebar-box .sidebar-text{
    display: block;
    opacity: 1;
    width: auto;
    visibility: visible;
    /* background-color: red; */
    font-size: 14px;
    font-weight: 400;
}


/* Controls Box */
.controls-box{
   
    overflow: hidden;
    box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.2);
    >button{
        /* border: 1px solid #1ba1b9; */
        width: 33.33%;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        
    }
   
}
.controls-pause-box{
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2) inset;
    
}
.control-button{
    border-radius: 16px;
background: #ffffff;
box-shadow:  1px 1px 5px #919191,
             -1px -1px 5px #ffffff; inset: true;
text-decoration: black;

}
